.carousel-inner  {
    width: 75%;
    height: 75%;
    align-items: center;
    justify-content: center;
    min-height: 100;
    margin: auto;
    display: block;

}

button .link{
    color: white;

}

.container-con {
    display: flex;
    justify-content: center;
    font-size: 27px;
    color: brown;
    
}


